<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" >
  <input type="text" placeholder="email" name="email" ngModel/>
  <br>
  <input multiple type="file" name="galery" (change)="manageFile($event)"/>
  <br>
  <input type="text" placeholder="genre" />
  <br>
  <input type="text" placeholder="name of your ex"/>
  <br>
  <input type="file" name="profilePic" (change)="manageFile($event)">
  <br>
  <select name="morro" ngModel>
    <option value="0">Mijo</option>
    <option value="1">mijos</option>
    <option value="2">mijito</option>
  </select>
  <br>
  <input type="submit">
</form>

<form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
  <h3 style="color:red">{{error}}</h3>
  <input ngModel type="text" placeholder="email" name="email">
  <input ngModel type="password" placeholder="password" name="password">
  <input type="submit">
</form>